* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

:root {
  --darkGrey: #636e72;
  --lightGrey: #dfe6e9;
  --white: #fff;
}

.site {
  height: 100vh;
  display: grid;
  grid-template: 100px 1fr 50px / 2fr 4fr;

  .navbar {
    grid-area: 1/1/2/3;
    background-color: var(--darkGrey);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3rem;
    }
  }

  .lists {
    grid-area: 2/1/3/2;
    background-color: var(--lightGrey);
    color: var(--darkGrey);

    h2 {
      text-align: center;
      margin-top: 20px;
      font-size: 1.8rem;
    }

    .projects-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form {
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 2px solid var(--white);
        background-color: var(--white);
        border-radius: 10px;

        input[type="text"] {
          padding: 5px;
          background-color: var(--lightGrey);
          border: none;
          border-radius: 5px;
          font-size: 1.2rem;
          width: 80%;

          &:focus {
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            background-color: var(--white);
          }
        }

        input[type="submit"] {
          padding: 10px;
          background-color: var(--lightGrey);
          border: none;
          border-radius: 5px;
          font-size: 1.2rem;
          color: var(--darkGrey);

          &:hover {
            scale: 1.1;
            cursor: pointer;
          }
        }
      }
      .projects-container {
        max-height: calc(100vh - 100px - 50px - 107px - 48px - 40px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .project-view {
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
          gap: 10px;
          width: 214px;
          padding: 10px;

          .project-to-tasks,
          .delete,
          .edit,
          #inputChange {
            text-align: center;
            grid-area: 1/1/2/3;
            border: none;
            background-color: var(--white);
            color: var(--darkGrey);
            font-size: 1.6rem;
            border-radius: 10px;

            &:hover {
              scale: 1.1;
              cursor: pointer;
            }
          }

          .delete,
          .edit {
            grid-area: 2/1/3/2;
            background-color: lightcoral;
            font-size: 1.3rem;
          }

          .edit {
            grid-area: 2/2/3/3;
            background-color: yellowgreen;
          }
        }

        .project-view:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .task-menu {
    grid-area: 2/2/3/3;
    background-color: var(--white);
    .list-title {
      text-align: center;
      margin-top: 20px;
      h1 {
        font-size: 2.5rem;
        color: var(--darkGrey);
      }
    }
    .task-add-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      form {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        box-sizing: border-box;
        color: var(--darkGrey);
        #taskName {
          border: none;
          font-size: 1.5rem;
          background-color: var(--lightGrey);
          padding: 5px;
          border-radius: 5px;

          &:focus {
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
            background-color: var(--white);
          }
        }

        .checkBox {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background-color: var(--lightGrey);
          border-radius: 5px;
          #status,
          label[for="status"] {
            border: none;
            font-size: 1.5rem;
          }
          #status {
            display: grid;
            place-content: center;
            appearance: none;
            background-color: var(--white);
            border-radius: 5px;
            &::before {
              content: "";
              width: 0.65em;
              height: 0.65em;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              border-radius: 5px;
              box-shadow: inset 1em 1em green;
            }

            &:checked::before {
              transform: scale(0.7);
            }
          }
        }

        #priority {
          border: none;
          background-color: var(--lightGrey);
          font-size: 1.5rem;
          color: var(--darkGrey);
          padding: 5px;
          border-radius: 5px;

          &:focus {
            background-color: transparent;
            resize: none;
            outline: none;
            background-color: var(--white);
          }
        }

        #date {
          border: none;
          background-color: var(--lightGrey);
          font-size: 1.5rem;
          color: var(--darkGrey);
          padding: 5px;
          border-radius: 5px;

          &:focus {
            background-color: transparent;
            resize: none;
            outline: none;
            background-color: var(--white);
          }
        }
      }
      input[type="submit"] {
        margin-top: 20px;
        padding: 10px;
        background-color: var(--lightGrey);
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        color: var(--darkGrey);
        font-weight: bold;

        &:hover {
          scale: 1.1;
          cursor: pointer;
        }
      }
    }

    .tasks-list {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      table {
        width: 100%;
        table-layout: fixed;
        text-align: left;
        border-spacing: 2em;

        th,
        tr,
        td {
          width: flex;
          font-size: 1.5rem;
          color: var(--darkGrey);
        }

        td{
          min-width: 100px;
        }

        td .change, .delete{
          text-align: center;
            border: none;
            background-color: var(--white);
            color: var(--darkGrey);
            font-size: 1.6rem;
            border-radius: 10px;
            padding: 5px;
            &:hover {
              scale: 1.1;
              cursor: pointer;
            }
        }

        td .change{
          background-color: yellowgreen;
          color: yellowgreen;
        }

        td .delete{
          background-color: lightcoral;
          color: lightcoral;
        }
      }
    }
  }

  .footer {
    grid-area: 3/1/4/3;
    background-color: var(--darkGrey);
    color: var(--lightGrey);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
